@{
    Layout = "_Layout";

}

<div class="text-center">
    <h1 class="display-4">Silly Strings Vending Machines</h1>
    <div class="textContainer">
        <div class="navBox">
            @Html.ActionLink("View Machines", "index", "Machines", null)
            @Html.ActionLink("View Engineers", "index", "Engineers", null)
        </div>
    </div>
    <div class="img">
        <img class="d-block w-100" src="~/css/VendingMachine.png" alt="Photo of vending machine">
    </div>


    <h3 class="counts"> Total Machines: @Model["machines"] <br> Total Engineers: @Model["engineers"]</h3>
   


</div>