@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.ActionLink("View Machines", "index", "Machines", null, new { @class = "btn btn-block btn-primary" })


    <div class="container counts">
        <h3> Total Machines: @Model["machines"]</h3>
        <h3> Total Engineers: @Model["engineers"]</h3>
    </div>
</div>
